@import "w3.css";
/* @import "rstyle.css"; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&display=swap");
@font-face {
  font-family: "robgravesmedium";
  src: url("robgraves-lkyv-webfont.woff2") format("woff2"),
    url("robgraves-lkyv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*variables*/
:root {
  --middle-blue-green: #4c9eaaff;
  --red-crayola: #fe5f55ff;
  --blue-sapphire: #3c6478ff;
  --naples-yellow: #f9dc5cff;
  --dark-purple: #4b1d3fff;

  background-image: url("../assets/background-main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.crayon {
  font-family: robgravesmedium, Montserrat;
}

.bg-primary-blue {
  background-color: var(--middle-blue-green);
}

.bg-purple {
  background-color: var(--dark-purple);
}
.bg-red {
  background-color: var(--red-crayola);
}
.bg-yellow {
  background-color: var(--naples-yellow);
}
.bg-secondary-blue {
  background-color: var(--blue-sapphire);
}

.text-primary-blue {
  color: var(--middle-blue-green);
}
.text-yellow {
  color: var(--naples-yellow);
}
.text-red {
  color: var(--red-crayola);
}
.text-purple {
  color: var(--dark-purple);
}
.text-secondary-blue {
  color: var(--blue-sapphire);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body,
html {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.8;
  font-family: "Montserrat ", sans-serif;
}

#sammyCenterStatement {
  text-align: center;
  word-wrap: break-word;
  margin-top: 10px;
  padding: 0px 2rem 0px 2rem;
}

#sammyCenterHeader::before {
  content: "the";
  position: relative;
  font-family: "Montserrat";
  color: white;
  font-size: 2rem;
}

#sammyCenterHeader::after {
  content: "center";
  font-family: "Montserrat";
  color: white;
  font-size: 2rem;
  position: relative;
}

@media screen and (max-width: 500px) {
  #sammyCenterHeader::before {
    content: "the";
    font-family: "Montserrat";
    color: white;
    display: block;
  }

  #sammyCenterHeader::after {
    content: "center";
    font-family: "Montserrat";
    color: white;
    display: block;
  }
}

.glass {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #4c9eaa;
}
.glass-darker {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #4c9eaa;
}

.blue {
  color: #4c9eaa;
  text-shadow: 0px 1px 1px #497a75;
}

.frosted {
  background-color: rgba(230, 230, 230, 0.8);
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(20px) saturate(100%) contrast(30%)
    brightness(80%);
  border-radius: 10px;
  border: 2px solid var(--middle-blue-green);
}

.collapsible {
  background-color: var(--blue-sapphire);
  cursor: pointer;
  padding: 10px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  font-family: inherit;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-radius: 10px;
}

#myNavbar {
  color: white;
  background-color: var(--blue-sapphire);
}

/* navbar hover animation  */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--naples-yellow);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(5);
  transform-origin: bottom left;
}

/* #home {
  background-color: white;
} */

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../assets/background-main.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../assets/bgimg-2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../assets/bgimg-3.jpg");
  min-height: 300px;
}

/* Fourth image (Contact) */
.bgimg-4 {
  background-image: url("../assets/bgimg-4.jpg");
  min-height: 300px;
}

/* Turn off parallax scrolling for tablets and phones */ 
@media only screen and (max-device-width: 1600px) {
  :root{
    background-image: url("../assets/background-main.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 180vh;
  } 
  
  .bgimg-1{
    background-image: none;
    min-height: 600px;
  }

  .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
    min-height: 50vh;
  }

  .giveHandImg1, .giveHandImg2, .giveHandImg3, .giveHandImg4{
    background-attachment: scroll;
  }

}

.border-purple {
  border: 2px solid var(--dark-purple);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  border: 2px solid var(--blue-sapphire);
  margin: 0;
}

.giveHandImg1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/hourglass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 1rem;
  border: 2px solid var(--middle-blue-green);
}

.giveHandImg2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets/talent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 1rem;
  border: 2px solid var(--middle-blue-green);
}

.giveHandImg3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../assets/treasure.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 1rem;
  border: 2px solid var(--middle-blue-green);
}

.giveHandImg4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets/classroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 1rem;
  border: 2px solid var(--middle-blue-green);
}

input::placeholder,
textarea::placeholder {
  color: black;
}

.border-blue {
  border-color: var(--blue-sapphire);
}

.flex .col {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-content: stretch;
}

.item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  row-gap: 1rem;
}

.item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-content: flex-start;
}
.item-4 > div {
  flex-basis: 185px;
}

.middlepos {
  position: relative;
  top: 5px;
  left: 15px;
}

.middlepos-small {
  position: relative;
  top: 5px;
  float: right;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tag-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

div.w3-third {
  display: flex;
  justify-content: center;
}

div.w3-twothird {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  flex-basis: 400px;
}

div.w3-third img {
  max-width: 100%;
  max-height: 600px;
  object-fit: scale-down;
}

div.w3-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.quoteFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteFlex .glass-darker {
  width: 90%;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bio-img {
  max-width: 300px;
  max-height: 200px;
  object-fit: scale-down;
}

.bio-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  align-content: center;
}

.bio-flex-item {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  justify-content: stretch;
  align-items: center;
}

p.w3-xlarge {
  line-height: 1;
  letter-spacing: 0.2ch;
}

.aboutimg {
  max-width: 300px;
  height: auto;
  object-fit: scale-down;
}
