

/*variables*/
:root {
  --middle-blue-green: #4c9eaaff;
  --red-crayola: #fe5f55ff;
  --blue-sapphire: #3c6478ff;
  --naples-yellow: #f9dc5cff;
  --dark-purple: #4b1d3fff;
  --bone: #ece2d0ff;
  --eerie-black: #141414ff;
  --fire-opal: #ef6351ff;
  --black-coral: #5f616dff;
  --cadet-blue: #4c9eaaff;

  /* background-image: url("../assets/newbg.jpg"); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}


.bg-primary-blue {
  background-color: var(--middle-blue-green);
}

.bg-purple {
  background-color: var(--dark-purple);
}
.bg-red {
  background-color: var(--red-crayola);
}
.bg-yellow {
  background-color: var(--naples-yellow);
}
.bg-secondary {
  background-color: var(--black-coral);
}

.text-primary-blue {
  color: var(--middle-blue-green);
}
.text-yellow {
  color: var(--naples-yellow);
}
.text-red {
  color: var(--red-crayola);
}
.text-purple {
  color: var(--dark-purple);
}
.text-secondary-blue {
  color: var(--blue-sapphire);
}
.text-bone{
  color: var(--bone);
}
.text-white{
  color:white;
}

.text-coral{
  color:var(--black-coral);
}

.transparent-text{
  color:transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body,
html {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.8;
  font-family: 'Roboto', sans-serif;
  color:var(--eerie-black);
}

.glass-darker {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid var(--fire-opal);
}

.frosted {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid black;
}

.collapsible {
  background-color: var(--black-coral);
  cursor: pointer;
  padding: 10px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  font-family: inherit;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-radius: 10px;
}

.fire-opal-hover:hover{
  color: var(--fire-opal);
}

#myNavbar {
  color: white;
  background-color: var(--black-coral);
  display:flex;
  align-items: flex-end;
}


/* navbar hover animation  */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--fire-opal);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(4);
  transform-origin: bottom left;
}


/* Create a Parallax Effect */
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../assets/nathan-dumlao-P5MXtYfgmmw-unsplash-min.webp");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../assets/bgimg-3.jpg");
  min-height: 300px;
}

/* Fourth image (Contact) */
.bgimg-4 {
  background-image: url("../assets/bgimg-4.jpg");
  min-height: 300px;
}

/* Turn off parallax scrolling for tablets and phones */ 
@media only screen and (max-device-width: 1600px) {
  :root{
  background-image: url("../assets/newbg.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  } 
  
  .bgimg-1{
    background-image: none;
    min-height: 600px;
  }

  .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
    min-height: 50vh;
  }


}

input::placeholder,
textarea::placeholder {
  color: black;
}


.flex .col {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 48%;
  height: 400px;
}
.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 48%;
  height:400px;
}

.item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  row-gap: 1rem;
}


.item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-content: flex-start;
}
.item-4 > div {
  flex-basis: 185px;
}

.middlepos {
  position: relative;
  top:5px;
  left: 5px;
}

.middlepos-small {
  position: relative;
  float: right;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tag-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 10px;
}

div.w3-third {
  display: flex;
  justify-content: center;
}

div.w3-twothird {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 400px;
}

div.w3-third img {
  max-width: 100%;
  max-height: 600px;
  object-fit: scale-down;
}

div.w3-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.quoteFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteFlex .glass-darker {
  width: 90%;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#about>div{
  width: 100%;
}


.bio-img {
  max-width: 200px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}


.bio-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  align-content: center;
}

.bio-flex-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 425px;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

.bio-flex-img{
  display: flex;
  align-items: center;
  justify-content: center;
  height:400px;
}

p.w3-xlarge {
  line-height: 1;
}

.aboutimg {
  max-width: 400px;
  height: auto;
  object-fit: scale-down;
}

p.w3-tag{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  height:3em;
  min-width:300px;
  max-width: 400px;
}

.carousel-block {
  height: 400px;
  margin: 0;
  display: grid;
  grid-template-rows: 350px 50px;
  grid-template-columns: 4fr 2fr 30px 30px 30px 30px 30px 30px 30px 2fr 4fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 2 / 11;
  width: 90%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
  --items: 7;
  --middle: 4;
  --position: 1;
  pointer-events: none;
}



div.item {
  position: absolute;
  width: 250px;
  height: 300px;
  background-color: transparent;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-30deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.carousel-arrow{
  cursor: pointer;
}


div.item:nth-of-type(1) {
  --offset: 1;
  background-color: var(--black-coral);
  border: 1px solid black;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: var(--black-coral);
  border: 1px solid black;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: var(--black-coral);
  border: 1px solid black;
  
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: var(--black-coral);
  border: 1px solid black;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: var(--black-coral);
  border: 1px solid black;
}
div.item:nth-of-type(6) {
  --offset: 6;
  background-color: var(--black-coral);
  border: 1px solid black;
}
div.item:nth-of-type(7) {
  --offset: 7;
  background-color: var(--black-coral);
  border: 1px solid black;
}

input:nth-of-type(1) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 5 /6;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
input:nth-of-type(6) {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
  --position: 6;
}
input:nth-of-type(7) {
  grid-column: 9 / 10;
  grid-row: 2 / 3;
}
input:nth-of-type(7):checked ~ main#carousel {
  --position: 7;
}

.header-flex{
display:flex;
flex-direction:column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 4rem;
margin-bottom: 4rem;
}

.subheader-flex{
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: stretch;
}

hr{
  width:90%;
  height: 10px;
  background-color: var(--black-coral);
}

