@import "w3.css";
@import "rstyle.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: 'robgravesmedium';
  src: url('robgraves-lkyv-webfont.woff2') format('woff2'),
       url('robgraves-lkyv-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*variables*/
:root {
  --middle-blue-green: #4c9eaaff;
  --red-crayola: #fe5f55ff;
  --blue-sapphire: #3c6478ff;
  --naples-yellow: #f9dc5cff;
  --dark-purple: #4b1d3fff;

  /* background-image:url("../assets/mick-haupt-pqYVbw4xrFU-unsplash\ \(1\).webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

* {
  box-sizing: border-box;
}

.bg-primary-blue {
  background-color: var(--middle-blue-green);
}

.bg-purple {
  background-color: var(--dark-purple);
}
.bg-red {
  background-color: var(--red-crayola);
}
.bg-yellow {
  background-color: var(--naples-yellow);
}
.bg-secondary-blue {
  background-color: var(--blue-sapphire);
}

.text-primary-blue {
  color: var(--middle-blue-green);
}
.text-yellow {
  color: var(--naples-yellow);
}
.text-red {
  color: var(--red-crayola);
}
.text-purple {
  color: var(--dark-purple);
}
.text-secondary-blue {
  color: var(--blue-sapphire);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat ", sans-serif;
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.8;
}

#myNavbar {
  color: white;
  background-color: var(--blue-sapphire);
}

/* navbar hover animation  */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(5);
  transform-origin: bottom left;
}

#home {
  background-color: white;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../assets/sharon-mccutcheon-O2u6gA2esAI-unsplash-min.webp");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../assets/nathan-dumlao-P5MXtYfgmmw-unsplash-min.webp");
  min-height: 800px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../assets/daiga-ellaby-JZ51o_-UOY8-unsplash-min.webp");
  min-height: 600px;
}

/* Fourth image (Contact) */
.bgimg-4 {
  background-image: url("../assets/image8.webp");
  min-height: 600px;
}

/* .w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}
 */
/* Turn off parallax scrolling for tablets and phones 
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;

  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.border-purple {
  border: 2px solid var(--dark-purple);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  border: 5px solid var(--middle-blue-green);
  margin: 0;
}

.giveHandImg1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets/giveHand.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 1rem;
  border: 2px solid var(--middle-blue-green);
}

.giveHandImg2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets/talent.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-position: bottom;
  border: 2px solid var(--middle-blue-green);
}

.giveHandImg3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../assets/treasure.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  border: 2px solid var(--dark-purple);
}

.giveHandImg4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets/classroom.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  border: 2px solid var(--middle-blue-green);
}

.frosted {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px) saturate(90%) contrast(30%) brightness(90%);
  -webkit-backdrop-filter: blur(7px) saturate(90%) contrast(30%) brightness(90%);
  border-radius: 10px;
}

input::placeholder,
textarea::placeholder {
  color: white;
  font-weight: bolder;
}

.border-blue {
  border-color: var(--blue-sapphire);
}

.flex .col {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-content: stretch;
}

.item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  row-gap: 1rem;
}

.item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-content: flex-start;
}
.item-4 > div {
  flex-basis: 20rem;
}

.card-width {
  width: 80%;
}

.middlepos {
  position: relative;
  top: 5px;
  float: right;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tag-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
