@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* #8ae3da - bluegrey #f2a03d - orange */
p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
}
h3 {
    font-size: 2.3rem;
}
:root {
  /* background: rgb(205,205,205); */
  /* background:  #3c6478; */
  background-image: url(../assets/mick-haupt-pqYVbw4xrFU-unsplash\ \(1\).jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* .first-background {
  background-image: linear-gradient(black, #3c6478);
  background-size: cover;
  min-height: 100%;
} */
.blue {
    color: #4C9EAA;
    text-shadow: 0px 1px 1px #497a75;

}
.dark-blue {
  color:#3c6478;
}
.pink {
  color:#ed254e;
}
.yellow {
  color:#f9dc5c
}
.purple {
  color:#4b1d3f;
}
.alt-blue, .alt-blue-hover:hover{color:#fff!important;background-color:#4C9EAA}
.faded {
    color:rgb(63, 61, 61)
}
.glass {
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid #4C9EAA;
    
}
.glass-darker {
    background: rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid #4C9EAA;
    
}
.sammy_header {
    width: 50vw;
    padding-top: 2em;
    padding-bottom: 2em;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 8px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  .header-background {
    background-image: url('../assets/cropped-blackboard.jpg');
  }
  .header-background {
    height: auto;
    width: auto;
   }
  .body-background {
    background-image:url(../assets/annie-spratt-DJUZjUYsLwQ-unsplash.jpg);
    border-radius: 10px;
    border: 1px solid #4C9EAA;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    padding-bottom: 15px;
    padding: 30px;
  }
  .body-text {
    color: white;
    text-shadow: 0px 1px 1px #0f0f0f;
    text-align: justify;
    font-size: 20px;
    line-height: 2.2;
  }
  .grid-container {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    position: relative;
    text-align: center;
  }
  @media only screen and (max-width: 900px) {
    .grid-container {
    display: block;
    grid-template-columns: auto;
    position:relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
  }
  .grid-item {
    border: 1px solid #4C9EAA;
    
    padding:20px;
    margin: 15px;
    border-radius: 10px;
   height: max-content;
    
  }
  .zoom {
    transition: transform .2s;
  }
  .zoom:hover {
    transform: scale(1.1);
  }
.board-text {
  color: white;
  text-align: center;
}
.rounded {
  border-radius: 10px;
}
.frosted {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(100%) contrast(30%) brightness(80%);
  -webkit-backdrop-filter: blur(20px) saturate(100%) contrast(30%) brightness(80%);
  border-radius: 10px;
  border: 1px solid #4b1d3f;
}
.frosted-opaque {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    
}
.a-content {
  padding: 25px;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #3c6478;
  cursor: pointer;
  padding: 10px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  font-family: inherit;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #4b1d3f;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;;
  border-radius: 10px;
}
